.about {
  width: 60rem;
  @include respond(MINI-TAB) {
    width: 50rem;
  }
  @include respond(PHONE) {
    width: 90%;
  }
  margin: 4em auto;
  &_heading {
    font-size: 3.5rem;
    color: #0000003c;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    text-align: center;
    @include respond(MINI-TAB) {
      font-size: 3rem;
    }
  }
  &_para {
    font-size: 2rem;
    color: rgb(63, 96, 24);
    text-align: justify;
    font-weight: 900;
    @include respond(MINI-TAB) {
      font-size: 1.5rem;
    }
    @include respond(PHONE) {
      font-size: 2rem;
      line-height: 3;
    }
  }
}
